<nz-page-header style="background: white;" class="bordered-bottom" nzTitle="Dashboard Overview" nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a>Dashboard</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Overview</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<div [@fadeAnimation] class="p-4">
  <!-- <nz-row [nzGutter]="[16, 16]">
    <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="8" [nzXl]="6">
      <nz-row [nzGutter]="[16, 16]">
        <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
          <nz-ribbon nzText="+25%">
            <nz-card>
              <nz-statistic
                    [nzValue]="(23 | number: '1.0-2')!"
                    [nzTitle]="'Total Cases This Month'">
                </nz-statistic>
            </nz-card>
          </nz-ribbon>
        </nz-col>
        <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
          <nz-ribbon nzText="-10%">
            <nz-card>
              <nz-statistic
                    [nzValue]="(3 | number: '1.0-2')!"
                    [nzTitle]="'Closed Cases This Month'">
                </nz-statistic>
            </nz-card>
          </nz-ribbon>
        </nz-col>
        <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
          <nz-ribbon nzText="+25%">
            <nz-card>
              <nz-statistic
                    [nzValue]="(20 | number: '1.0-2')!"
                    [nzTitle]="'Remaining Open Cases This Month'">
                </nz-statistic>
            </nz-card>
          </nz-ribbon>
        </nz-col>
        <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
          <nz-ribbon nzText="+100%">
            <nz-card>
              <nz-statistic
                    [nzValue]="(123 | number: '1.0-2')!"
                    [nzTitle]="'Some Other Stat Here'">
                </nz-statistic>
            </nz-card>
          </nz-ribbon>
        </nz-col>
        <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
          <nz-ribbon nzText="+100%">
            <nz-card>
              <nz-statistic
                    [nzValue]="(123 | number: '1.0-2')!"
                    [nzTitle]="'Some Other Stat Here'">
                </nz-statistic>
            </nz-card>
          </nz-ribbon>
        </nz-col>

        <nz-col [nzSpan]="24">
          <nz-card>
            <h5 nz-typography class="fw-bold">Monthly Case Statistics</h5>
            <nz-divider></nz-divider>
            <ngx-charts-bar-vertical-2d
              [view]="view"
              [scheme]="defaultBarChard2DOptions.colorScheme"
              [results]="multi"
              [xAxis]="defaultBarChard2DOptions.showXAxis"
              [yAxis]="defaultBarChard2DOptions.showYAxis"
              [legend]="defaultBarChard2DOptions.showLegend"
              [showXAxisLabel]="defaultBarChard2DOptions.showXAxisLabel"
              [showYAxisLabel]="defaultBarChard2DOptions.showYAxisLabel"
              [xAxisLabel]="defaultBarChard2DOptions.xAxisLabel"
              [yAxisLabel]="defaultBarChard2DOptions.yAxisLabel"
              [legendTitle]="defaultBarChard2DOptions.legendTitle">
            </ngx-charts-bar-vertical-2d>
          </nz-card>
        </nz-col>
      </nz-row>      
    </nz-col> -->
    <!-- <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="16" [nzXl]="18">
      <nz-card>
        <h5 nz-typography class="fw-bold">Monthly Event / Court Dates</h5>
        <nz-calendar>
          <ul *nzDateCell="let date" class="events">
            <ng-container [ngSwitch]="date.getDate()">
              <ng-container *ngSwitchCase="8">
                <li *ngFor="let item of listDataMap.eight">
                  <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
                </li>
              </ng-container>
              <ng-container *ngSwitchCase="10">
                <li *ngFor="let item of listDataMap.ten">
                  <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
                </li>
              </ng-container>
              <ng-container *ngSwitchCase="11">
                <li *ngFor="let item of listDataMap.eleven">
                  <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
                </li>
              </ng-container>
            </ng-container>
          </ul>
          <ng-container *nzMonthCell="let month">
            <div *ngIf="getMonthData(month) as monthData" class="notes-month">
              <section>{{ monthData }}</section>
              <span>Backlog number</span>
            </div>
          </ng-container>
        </nz-calendar>
        
        
        <nz-divider></nz-divider>
        <ngx-charts-bar-vertical-2d
          [view]="view"
          [scheme]="defaultBarChard2DOptions.colorScheme"
          [results]="multi"
          [xAxis]="defaultBarChard2DOptions.showXAxis"
          [yAxis]="defaultBarChard2DOptions.showYAxis"
          [legend]="defaultBarChard2DOptions.showLegend"
          [showXAxisLabel]="defaultBarChard2DOptions.showXAxisLabel"
          [showYAxisLabel]="defaultBarChard2DOptions.showYAxisLabel"
          [xAxisLabel]="defaultBarChard2DOptions.xAxisLabel"
          [yAxisLabel]="defaultBarChard2DOptions.yAxisLabel"
          [legendTitle]="defaultBarChard2DOptions.legendTitle">
        </ngx-charts-bar-vertical-2d>
      </nz-card>
    </nz-col>
  </nz-row> -->

  <!-- <nz-row [nzGutter]="[16, 16]">
    <nz-col [nzSpan]="24">
      <nz-card>
        <h5 nz-typography class="fw-bold">Recently Added Cases</h5>
        <nz-divider></nz-divider>
        <vsp-datatable
            [definition]="defaultCasesTableDefinition"
            [page]="mockLatestCasesPage">
        </vsp-datatable>
      </nz-card>
    </nz-col>
  </nz-row> -->

</div>
